body {
    background-color: lightsalmon;
}





h1 {
    color: cornflowerblue;
    text-align: center;
}

h2 {
    color: cornflowerblue;
}

h3 {
    color: cornflowerblue;
}

ul {
    list-style: square;
    color: cornflowerblue;
}

blockquote {
    color: cornflowerblue;
}

p {
    color: cornflowerblue
}

hr.new1 {
    border-top: 1px black
}


#a {
    quotes: "«" "»";

}

table, th, td {
    border: 1px solid black
}

h4 {
    color: cornflowerblue
}

#b {
    quotes: "«" "»";
}